[submodule "bundle/nercommenter.git"]
	path = bundle/nercommenter.git
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree.git"]
	path = bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
