[submodule "nerdcommenter"]
    path = bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git

[submodule "nerdtree"]
    path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git

[submodule "taglist.vim"]
    path = bundle/taglist.vim
    url = https://github.com/vim-scripts/taglist.vim.git
